$color-white: #fff;
$color-whitesmoke: #ece9e6;
$color-lightblue: lightblue;
$color-dark-gray: #252525;
$color-black: #000;

$gradient-cloud: linear-gradient(to right, $color-white, $color-whitesmoke);
$gradient-cloud-w: -webkit-linear-gradient(
    to right,
    $color-white,
    $color-whitesmoke
);
