@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import './shared/scss/variables';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: $color-whitesmoke; /* fallback for old browsers */
  background: $gradient-cloud-w;
  background: $gradient-cloud; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
